.vehicle_dashboard_container{
    background-color: var(--background);
    color: white;
    padding: 0px 20px;
    .vehicle_dashboard_header{
        height: 70px;
        padding: 20px 30px;
        section{
            width: 50%;
        }
    }
    .vehicle_dashboard_tabs_container{
        height: 60px;

        .dashboard_tabs_left{
            .tabs_title_container{
                display: flex;
                border-radius: 6px;
                width: 305px;
                background-color: #232323;
                button{
                    height: 36px;
                    display: flex;
                    width: 152px;  
                    border-radius: 6px;
                    font-size: 16px;
                    justify-content: center;
                    align-items: center;
                    font-weight: normal;
                    font-family: "Montserrat", serif;
                }
                .active_tab{
                    color: white;
                    white-space: nowrap;
                }
                .inactive_tab{
                    color: white;
                    opacity: 50%;
                    white-space: nowrap;
                }
            }
        }
    }
    .vehicle_dashboard_content_container{
        border-radius: 12px;
        background-color: #1B1B1B;
        width: 100%;
        padding: 24px;  
        .vehicle_dashboard_status_main_container{
            .vehicle_status_container{
                padding-right: 15px;
            }
            .border_right{
                border-right: 2px solid #9C9C9C;
                padding-right: 15px;
               
            }
            .vehicle_count_container{
                width: 10%;
            }
            .vehicle_dashboard_status_container{
                width: 60%;
            }
            .vehicle_dashboard_alerts_container{
                width: 30%;
            }
            .vehicle_status_text_container,div,p{
                background-color: #1B1B1B;
            }
            section{
                gap: 15px;
            }
            gap: 20px;
            .header_title{
                font-size: 12px;
                color: #9C9C9C;
            }
            .status_title{
                font-size: 14px;
                color: #9C9C9C;
                display: flex;
                align-items: center;
                gap: 10px;
                .status_indicator{
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    display: block;
                }
            }
            .vehicle_size{
                font-size: 18px;
                margin-top: 14px;
            }      
        }
        .vehicle_dashboard_map_main_container{
            margin-top: 65px;
            .vehicle_dashboard_map_container{
                width: 70%;
            }
            .vehicle_dashboard_map_details_container{
                width: 30%;
               
                .alert_type_container,.alert_group-container{
                    width: 30%;
                    border: 1px solid #282828;
                    border-radius: 6px;
                    margin-right: 15px;
                    font-size: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .alert_search_container{
                    width: 40%
                }
            }
        }
    }
}