/* dropdown.css */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

.z-10 {
    z-index: 10;
}

.mt-2 {
    margin-top: 0.5rem;
}



.dropdown_container {
    button, ul li{
        background: #222222;
        color: white;
    }
    button{
        border-radius: 6px;
        border: 1px solid #303030;
        font-size: 16px;
    }
    
}